<a href="https://colab.research.google.com/github/shi0108/nlp-projects/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load the dataset
df = pd.read_csv('FINAL_FROM_DF.csv')

In [11]:
df.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN
0,20MICRONS,EQ,37.80,37.80,36.15,36.85,37.40,37.05,27130,994657.90,2017-06-28,202,INE144J01027
1,3IINFOTECH,EQ,4.10,4.85,4.00,4.55,4.65,4.05,20157058,92148517.65,2017-06-28,7353,INE748C01020
2,3MINDIA,EQ,13425.15,13469.55,12920.00,13266.70,13300.00,13460.55,2290,30304923.35,2017-06-28,748,INE470A01017
3,63MOONS,EQ,61.00,61.90,60.35,61.00,61.10,60.65,27701,1689421.00,2017-06-28,437,INE111B01023
4,8KMILES,EQ,546.10,548.00,535.00,537.45,535.20,547.45,79722,43208620.05,2017-06-28,1866,INE650K01021

In [5]:
df.shape

(846404, 13)

In [6]:
df.describe

<bound method NDFrame.describe of             SYMBOL SERIES      OPEN      HIGH       LOW     CLOSE      LAST  \
0        20MICRONS     EQ     37.80     37.80     36.15     36.85     37.40
1       3IINFOTECH     EQ      4.10      4.85      4.00      4.55      4.65
2          3MINDIA     EQ  13425.15  13469.55  12920.00  13266.70  13300.00
3          63MOONS     EQ     61.00     61.90     60.35     61.00     61.10
4          8KMILES     EQ    546.10    548.00    535.00    537.45    535.20
...            ...    ...       ...       ...       ...       ...       ...
846399        ZOTA     SM    221.00    221.00    214.00    217.00    217.00
846400       ZUARI     EQ    562.00    562.00    549.55    550.80    552.00
846401   ZUARIGLOB     EQ    255.50    258.40    252.50    253.25    253.00
846402   ZYDUSWELL     EQ   1038.00   1068.00   1033.00   1043.20   1035.00
846403       ZYLOG     EQ      4.30      5.15      4.30      4.65      4.60

        PREVCLOSE  TOTTRDQTY    TOTTRDVAL   TIMESTAMP  TOTALTRADES  \
0           37.05      27130    994657.90  2017-06-28          202
1            4.05   20157058  92148517.65  2017-06-28         7353
2        13460.55       2290  30304923.35  2017-06-28          748
3           60.65      27701   1689421.00  2017-06-28          437
4          547.45      79722  43208620.05  2017-06-28         1866
...           ...        ...          ...         ...          ...
846399     220.00      14000   3041550.00  2017-12-29           14
846400     556.80     105184  58163061.60  2017-12-29         2218
846401     254.10      90067  22968100.60  2017-12-29         2001
846402    1023.10      28601  29938840.10  2017-12-29         1401
846403       4.40     732051   3495213.70  2017-12-29          845

                ISIN
0       INE144J01027
1       INE748C01020
2       INE470A01017
3       INE111B01023
4       INE650K01021
...              ...
846399  INE358U01012
846400  INE840M01016
846401  INE217A01012
846402  INE768C01010
846403  INE225I01026

[846404 rows x 13 columns]>

In [7]:
# find the null value
df.isnull().sum()

SYMBOL            0
SERIES         2457
OPEN              0
HIGH              0
LOW               0
CLOSE             0
LAST              0
PREVCLOSE         0
TOTTRDQTY         0
TOTTRDVAL         0
TIMESTAMP         0
TOTALTRADES       0
ISIN              0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 846404 entries, 0 to 846403
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   SYMBOL       846404 non-null  object
 1   SERIES       843947 non-null  object
 2   OPEN         846404 non-null  float64
 3   HIGH         846404 non-null  float64
 4   LOW          846404 non-null  float64
 5   CLOSE        846404 non-null  float64
 6   LAST         846404 non-null  float64
 7   PREVCLOSE    846404 non-null  float64
 8   TOTTRDQTY    846404 non-null  int64
 9   TOTTRDVAL    846404 non-null  float64
 10  TIMESTAMP    846404 non-null  object
 11  TOTALTRADES  846404 non-null  int64
 12  ISIN         846404 non-null  object
dtypes: float64(7), int64(2), object(4)
memory usage: 83.9+ MB

In [13]:
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM
from sklearn.metrics import mean_squared_error

In [14]:
# preprocess data
close_price = df['CLOSE'].values.reshape(-1, 1)
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_close_price = scaler.fit_transform(close_price)

In [15]:
# Split the data
train_size = int(len(scaled_close_price) * 0.8)
train_data = scaled_close_price[:train_size]
test_data = scaled_close_price[train_size:]

In [17]:

  #  Create a Time Series Dataset
  def create_dataset (df, time_step=60):
    x, y = [], []
    for i in range(len(df) - time_step - 1):
        a = df[i:(i + time_step), 0]
        x.append(a)
        y.append(df[i + time_step, 0])
    return np.array(x), np.array(y)

In [18]:
# Reshape data
time_step = 60
x_train, y_train = create_dataset(train_data, time_step)
x_test, y_test = create_dataset(test_data, time_step)

In [19]:
# Build the RNN Model
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(time_step, 1)))

/usr/local/lib/python3.11/dist-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [20]:
model.add(LSTM(units=50, return_sequences=False))

In [21]:
model.add(Dense(units=1))

In [22]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [ ]:
# train thr model
model.fit(x_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
21159/21159 ━━━━━━━━━━━━━━━━━━━━ 1124s 53ms/step - loss: 3.1060e-04
Epoch 2/100
21159/21159 ━━━━━━━━━━━━━━━━━━━━ 1143s 54ms/step - loss: 2.8662e-04
Epoch 3/100
21159/21159 ━━━━━━━━━━━━━━━━━━━━ 1149s 54ms/step - loss: 2.9330e-04
Epoch 4/100
 2060/21159 ━━━━━━━━━━━━━━━━━━━━ 17:31 55ms/step - loss: 3.7196e-04